@charset "utf-8";
/* CSS Document */
/*============
nav
=============*/
nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 0.5s;
    z-index: 3;
    opacity: 0;
}
.open nav {
    left: 0;
    opacity: 1;
}
nav .inner {
    padding: 25px;
}
nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
}
nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
}
nav .inner ul li a:hover {
    background: #e4e4e4;
}
@media screen and (max-width: 767px) {
    nav {
        left: -220px;
        width: 220px;
    }
}
/*============
.menu_btn
=============*/
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(
        255,
        255,
        255,
        0
    ); /*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

/*===========
menu装飾
============*/

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #0f2e44;
    color:#ffffff;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

/*=========================================================
Menuを画面の外にとばし、ハンバーガークリックしたら
みえるようにするための記述以下(現在非表示）

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s; /*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
    left: 0; /*メニューを画面内へ*/
}
====================================================*/


/*============
body
=============*/
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    overflow: hidden;
}
/*===============
header
================*/
.header {
    width: 100%;
    height: 80px;
    background: #4b5638;
    padding-left: 60px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex; /* flexboxを作る */
    align-items: center; /* 上下中央に揃える */
    justify-content: space-between; /* 両端に配置 */
    position: fixed;
    top: 0;
    font-size: large;
    color: #ffffff;
}
